NEXT_PUBLIC_SUPABASE_URL=https://rcqlbmjcvcbcoiozcnlz.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjcWxibWpjdmNiY29pb3pjbmx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3ODMyNDgsImV4cCI6MjA5NTM1OTI0OH0.JSH25uCgookTx_hWwKqggvbLY9McqDWC0-TxWco1tAQ
